Repository williamvsmartins/artfy: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["npm run lint --fix"],
  "*.{json,css,scss,md}": ["prettier --write"]
}

style: add tailwind config
  src/app/globals.css
  src/app/layout.tsx
  tailwind.config.ts
Due: npm run lint --fix, prettier --write

feat: add slider component
  src/app/page.tsx
  src/components/Slider/index.tsx
Due: npm run lint --fix

chore: add react-icons
  package-lock.json
  package.json
Due: prettier --write

feat: add music card component
  src/app/page.tsx
  src/components/MusicWallpaper/components/MusicCard/PlaybackBar.tsx
  src/components/MusicWallpaper/components/MusicCard/PlayerControls.tsx
  src/components/MusicWallpaper/components/MusicCard/Track.tsx
  src/components/MusicWallpaper/components/MusicCard/index.tsx
  src/components/MusicWallpaper/index.tsx
Due: npm run lint --fix

feat: add image to music card component
  src/components/MusicWallpaper/components/MusicCard/ImageTrack.tsx
  src/components/MusicWallpaper/components/MusicCard/Track.tsx
Due: npm run lint --fix

refactor: adjust size elements music card component
  src/components/MusicWallpaper/components/MusicCard/ImageTrack.tsx
  src/components/MusicWallpaper/components/MusicCard/PlaybackBar.tsx
  src/components/MusicWallpaper/components/MusicCard/PlayerControls.tsx
  src/components/MusicWallpaper/components/MusicCard/Track.tsx
Due: npm run lint --fix

feat: add wallpaper structure
  src/components/MusicWallpaper/index.tsx
Due: npm run lint --fix

feat: add dynamically render music card
  src/components/MusicWallpaper/components/MusicCard/ImageTrack.tsx
  src/components/MusicWallpaper/components/MusicCard/Track.tsx
  src/components/MusicWallpaper/components/MusicCard/index.tsx
  src/components/MusicWallpaper/index.tsx
Due: npm run lint --fix

feat: add login spotify
  package-lock.json
  package.json
  public/spotify.svg
  src/app/api/auth/[...nextauth]/route.ts
  src/app/page.tsx
  src/app/providers.tsx
  src/components/SpotifySignInButton/index.tsx
  src/lib/auth.ts
Due: npm run lint --fix, prettier --write

feat: add NextAuthProvider
  src/app/layout.tsx
  src/app/page.tsx
Due: npm run lint --fix

feat: add axios instance config
  package-lock.json
  package.json
  src/constants/environment-variables.ts
  src/services/api.ts
Due: npm run lint --fix, prettier --write

feat: add get jwt token session
  src/lib/auth.ts
Due: npm run lint --fix

fix: refresh token error
  src/lib/auth.ts
Due: npm run lint --fix

feat: add TopTrackService config
  src/services/http/topTrack/index.ts
  src/services/http/topTrack/types.ts
Due: npm run lint --fix

feat: add wallpaper page
  src/app/wallpaper/page.tsx
  src/components/MusicWallpaper/components/MusicCard/index.tsx
  src/components/MusicWallpaper/index.tsx
Due: npm run lint --fix

feat: add sample tracks to index page
  src/app/page.tsx
  src/lib/sampleTracks.json
Due: npm run lint --fix, prettier --write

feat: add logo slider
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/Slider/index.tsx
Due: npm run lint --fix, prettier --write

feat: add loading page
  src/app/loading.tsx
Due: npm run lint --fix

feat: add dynamic colors to music cards
  package-lock.json
  package.json
  src/app/wallpaper/page.tsx
  src/components/MusicWallpaper/components/MusicCard/index.tsx
  src/components/MusicWallpaper/index.tsx
  src/lib/extractDominantColor.ts
  src/services/http/topTrack/types.ts
Due: npm run lint --fix, prettier --write

chore: update nextjs to v14
  package-lock.json
  package.json
Due: prettier --write

feat: add wallpaper cards from various time periods
  src/app/wallpaper/page.tsx
  src/components/MusicWallpaper/components/MusicCard/index.tsx
  src/components/MusicWallpaper/index.tsx
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

feat: add wallpaper title
  src/app/wallpaper/page.tsx
  src/components/MusicWallpaper/index.tsx
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

chore: add react query setup
  package-lock.json
  package.json
  src/app/layout.tsx
  src/providers/TanstackProvider.tsx
Due: npm run lint --fix, prettier --write

feat: add topTrack hook
  src/app/wallpaper/page.tsx
  src/components/SwiperWallpaper/index.tsx
  src/hooks/useTopTracks.ts
  src/services/http/topTrack/index.ts
Due: npm run lint --fix

refactor: change get-pixels to jimp
  package-lock.json
  package.json
  src/lib/extractDominantColor.ts
  src/services/http/topTrack/index.ts
Due: npm run lint --fix, prettier --write

refactor: deliver smallest image to extract color
  src/lib/extractDominantColor.ts
  src/services/http/topTrack/index.ts
Due: npm run lint --fix

feat: add slide navigation with keyboard
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

fix: resolve card exchange failure
  src/components/MusicWallpaper/index.tsx
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

style: add background color to full screen
  src/app/wallpaper/page.tsx
Due: npm run lint --fix

style: change h-screen to min-h-screen
  src/app/wallpaper/page.tsx
Due: npm run lint --fix

feat: add header and logout button
  package-lock.json
  package.json
  src/app/wallpaper/page.tsx
  src/components/Header/index.tsx
Due: npm run lint --fix, prettier --write

style: add leaked source
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

style: adjust mobile responsiveness
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

feat: add footer
  src/app/page.tsx
  src/app/wallpaper/page.tsx
  src/components/Footer/index.tsx
Due: npm run lint --fix

style: add mobile responsiveness to home page
  src/app/page.tsx
  src/components/Slider/index.tsx
  src/components/SpotifySignInButton/index.tsx
Due: npm run lint --fix

feat: implement music audio playback on hover
  src/components/MusicWallpaper/components/MusicCard/index.tsx
  src/components/MusicWallpaper/index.tsx
Due: npm run lint --fix

feat: add highlight on song card on hover
  src/components/MusicWallpaper/index.tsx
Due: npm run lint --fix

refactor: change initialSlide
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

style: reduce wallpaper size on mobile
  src/components/SwiperWallpaper/index.tsx
Due: npm run lint --fix

refactor: render image smaller if music card is small
  src/components/MusicWallpaper/index.tsx
  src/services/http/topTrack/types.ts
Due: npm run lint --fix
